/* Estilos para dispositivos móviles */
@media (max-width: 767.98px) {
    .image-table-container {
        flex-direction: column-reverse; /* Cambia la dirección de la columna */
    }

    .image-wrapper,
    .table-wrapper {
        width: 100%; /* Ancho completo en dispositivos móviles */
    }

    .image-wrapper img {
        border-radius: 10px; /* Ajusta el borde redondeado de la imagen */
        margin-bottom: 20px; /* Agrega espacio entre la imagen y la tabla */
    }
}


/* Estilos para el menú de hamburguesa en la versión móvil */
@media (max-width: 768px) {
    .navbar-toggler {
        background-color: #ec98e1;
        border: none;
    }

    .navbar-toggler-icon {
        background-color: #fff; /* Color del icono de hamburguesa */
    }

    .collapse.navbar-collapse {
        background-color: #ec98e1;
        position: absolute;
        top: 60px; /* Ajusta según la altura del banner */
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1001; /* Asegura que esté por encima del contenido principal */
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; /* Añade posición relativa para ajustar el z-index de los enlaces hijos */
        z-index: 1002; /* Asegura que los enlaces estén por encima del contenido principal */
    }

    .menu-list li {
        margin: 10px 0;
    }
}

/* Estilos adicionales para mejorar la legibilidad del número de teléfono y agregar un emoticono */
.page-conocenos main article a {
    font-size: 1.2em; /* Ajusta según tus preferencias */
    display: flex;
    align-items: center;
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quitar subrayado del enlace */
}

.page-conocenos main article a::before {
    content: '\260E '; /* Unicode para el emoticono de teléfono */
    font-size: 1.5em;
    margin-right: 5px; /* Ajusta según tus preferencias */
}
